<h1 class="editPlaceTitle">Editing <%= "#{@place.name}"%></h1>

<%= render 'form', place: @place %>

<div class="placeLink"><%= link_to 'Show', @place %></div>
<div class="placeLink2"><%= link_to 'Back', places_path %></div>
