<% @locations.each do |loc| %>
  $('.location_results_list').append('<div class="address"><button class="placeNameSubmit" data-attributes="<%= j loc.to_json.to_s %>"><%= loc[:name] %></button><br><%= loc[:vicinity] %></div>');
<% end %>
createPlace();

