<h2 class="directions">Increase your impact and keep track of cruelty-free shops in your area. Find vegetarian
restaurants with the button below the table and add them to your places! </h2>
<div class="newPlace"><%= link_to 'New Place', new_place_path %></div>
<h1 class="placesTitle">My Places</h1>

<table>
  <thead>
    <tr>
      <th class="placeHeader">Name</th>
      <th class="placeHeader">Address</th>
      <th class="placeHeader">Latitude</th>
      <th class="placeHeader">Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='places'>
    <%= render @places.where(user_id: current_user.id)  %>
  </tbody>
</table>

<br>

<%= content_tag :button, 'Find Vegetarian Restaurants Around Me!', class: 'btn btn-info get_location' %>

<%= tag :div, class: 'location_results_list' %>
