<img src="./assets/peta2.jpg" width="400px">
<img src="./assets/skinrabbit.jpg" width="400px">
<img src="./assets/mouse.jpg" width="400px">

<%= react_component 'About' %>
<div class="about">
<h1 class="question">How can I help?</h1>

<li class="answer">Urge your lawmakers to support the Humane Cosmetics Act, which would end cosmetics testing on animals in the U.S. by prohibiting the use of animals to test cosmetics and banning the import of animal-tested cosmetics.</li>

<li class="answer">Shop cruelty-free! Check out our animal-friendly app and be a compassionate consumer. </li>
</div>
