<div id="catContainer">
  <h3 class="catAllPosts"><%= link_to 'View your posts', user_posts_path(current_user) %></h3>
  <h1 id="catTitle">Categories</h1>
<% @categories.each do |c| %>
<div class="catDiv">
<h3 class="catName"><%= link_to c.name, category_path(c) %></h3>

</div>
<% end %>
</div>

